@import 'fontawesome-scss/fontawesome';
@import 'materialize-scss/materialize';


#main-nav{
  ul{
    li{
      a{font-size: 2em;
        i{
          font-size: 1em;
        }
      }
    }
  }
}

// Main Home Page
#home-page{
  i{
    font-size: 2em;
  }
  #signup{
    h1{}
    a{
      height: auto;
      font-size: 2.5em;
      line-height: 2;
      text-transform: capitalize;
      i{
        font-size: 1em;
      }
    }
  }
}

// Profile page
#profile-container{
  #avatar-container{
    img{
      width: 100%;
      border-radius: 10px;
      border: 1px solid #ddd;

    }
  }
  #profile-info{
    p{
      margin: 5px 0;
      font-size: 1.5em;
      font-weight: 600;
      span{
        font-weight: 400;
      }
    }
  }

  #repos{
    .collection-item{
      span{
        font-size: 1.3em;
        line-height: 1 ;
        display: block;
        font-weight: 600;
      }
    }
  }
  #language-week-breakdown{

  }
  .language-graph{
    ul{
      li{
        float: left;
        text-align: center;
        span{
          display: block;
        }
        &.HTML{@extend .amber, .darken-2;}
        &.Swift{@extend .pink, .lighten-2;}
        &.JavaScript{@extend .blue;}
        &.Ruby{@extend .red, .darken-1;}
        &.CSS{@extend .green, .darken-1;}
        &.Mixed{@extend .blue-grey, .lighten-2;}
        &.C{@extend .deep-orange;}
      }
    }
  }
}
