<div class="alert alert-danger"><%= message %></div>
<section id="home-page">
  <div id="signup">
    <h1>Track Your GitHub</h1>
    <% if(user != undefined){ %>
      <a class="btn btn-large" href="/logout">Logout</a>
      <% } else { %>
      <a class="btn btn-large" href="/auth/github">Login with GitHub <i class="fab fa-github"></i></a>
    <% } %>
  </div>
</section>
