
<div class="alert alert-danger"><%= message %></div>


<section id="welcome">
	<div class="container">
		<div>
			<h1>Work Better, Not Harder</h1>
			<p>Share how you work to help others better understand what can make them more productive. </p>
		</div>
	</div>
</section>

<section id="top-users" class="container">
	<h2>Top Workspaces!</h2>
</section>
