<div class="alert alert-danger"><%= message %></div>

<h1>GITHUB LOGIN USING PASSPORT</h1>
<div>
  <% if(user != undefined){ %>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/auth/github">Login with GitHub</a>
  <% } %>
</div>
