<div id="repo-container" class="container">
  <section id="repo-header">
    <hgroup>
      <h1><%=repoInfo.nameo%></h1>
      <h4><%= repoInfo.description %> </h4>
      <a class="btn" href="<%= repoInfo.html_url %>">View Repo</a>
    </hgroup>
  </section>
  <section id="repo-stats">

  </section>
</div>
